proposals/node_red/flows_dosing.json
[
  {
    "id": "tab_targets_to_mqtt",
    "type": "tab",
    "label": "00_Targets_to_MQTT",
    "disabled": false
  },
  {
    "id": "tab_sensors_to_mqtt",
    "type": "tab",
    "label": "01_Sensors_to_MQTT",
    "disabled": false
  },
  {
    "id": "tab_dosing_logic",
    "type": "tab",
    "label": "02_Dosing_Logic",
    "disabled": false
  },
  {
    "id": "ha_server_cfg",
    "type": "server",
    "name": "Home Assistant",
    "addon": false,
    "rejectUnauthorizedCerts": true,
    "version": 6,
    "connectionDelay": true,
    "cacheJson": true
  },
  {
    "id": "mqtt_local_cfg",
    "type": "mqtt-broker",
    "name": "MQTT Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "dixy-node-red",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true
  },
  {
    "id": "state_helpers_numbers",
    "type": "server-state-changed",
    "z": "tab_targets_to_mqtt",
    "name": "Helpers (Zahlen)",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "regex",
    "entityidfilter": "(input_number\\.ec_target|input_number\\.ph_target|input_number\\.ppfd_target|input_number\\.pump[1-4]_ml|input_number\\.pump[1-4]_rate_ml_per_sec|input_number\\.pump[1-4]_auto_ml|input_number\\.ec_tolerance|input_number\\.ph_tolerance)",
    "outputinitially": true,
    "state_type": "str",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" },
      { "property": "entity_id", "propertyType": "msg", "value": "", "valueType": "entityId" }
    ],
    "x": 190,
    "y": 100,
    "wires": [["fn_map_helpers"]]
  },
  {
    "id": "state_helpers_booleans",
    "type": "server-state-changed",
    "z": "tab_targets_to_mqtt",
    "name": "Helpers (Booleans)",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "regex",
    "entityidfilter": "(input_boolean\\.pump[1-4]_manual|input_boolean\\.dosing_enable|input_boolean\\.light_manual)",
    "outputinitially": true,
    "state_type": "str",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" },
      { "property": "entity_id", "propertyType": "msg", "value": "", "valueType": "entityId" }
    ],
    "x": 200,
    "y": 160,
    "wires": [["fn_map_helpers"]]
  },
  {
    "id": "state_helpers_times",
    "type": "server-state-changed",
    "z": "tab_targets_to_mqtt",
    "name": "Helpers (Zeiten)",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "regex",
    "entityidfilter": "(input_datetime\\.light_on|input_datetime\\.light_off)",
    "outputinitially": true,
    "state_type": "str",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" },
      { "property": "entity_id", "propertyType": "msg", "value": "", "valueType": "entityId" }
    ],
    "x": 190,
    "y": 220,
    "wires": [["fn_map_helpers"]]
  },
  {
    "id": "fn_map_helpers",
    "type": "function",
    "z": "tab_targets_to_mqtt",
    "name": "Map Helper → MQTT Topic",
    "func": "const entity = msg.entity_id;\nconst map = {\n  \"input_number.ec_target\": \"dixy/targets/ec\",\n  \"input_number.ph_target\": \"dixy/targets/ph\",\n  \"input_number.ppfd_target\": \"dixy/targets/ppfd\",\n  \"input_datetime.light_on\": \"dixy/targets/light/on\",\n  \"input_datetime.light_off\": \"dixy/targets/light/off\",\n  \"input_number.ec_tolerance\": \"dixy/targets/ec_tolerance\",\n  \"input_number.ph_tolerance\": \"dixy/targets/ph_tolerance\",\n};\nfor (let i = 1; i <= 4; i++) {\n  map[`input_number.pump${i}_ml`] = `dixy/targets/pump${i}/manual_ml`;\n  map[`input_number.pump${i}_rate_ml_per_sec`] = `dixy/targets/pump${i}/rate_ml_per_sec`;\n  map[`input_number.pump${i}_auto_ml`] = `dixy/targets/pump${i}/auto_ml`;\n  map[`input_boolean.pump${i}_manual`] = `dixy/targets/pump${i}/manual_trigger`;\n}\nmap[\"input_boolean.dosing_enable\"] = \"dixy/targets/dosing_enable\";\nmap[\"input_boolean.light_manual\"] = \"dixy/targets/light_manual\";\n\nconst topic = map[entity];\nif (!topic) return null;\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n  if (payload === 'on') payload = true;\n  else if (payload === 'off') payload = false;\n  else if (!isNaN(payload)) payload = Number(payload);\n}\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 160,
    "wires": [["mqtt_out_targets"]]
  },
  {
    "id": "mqtt_out_targets",
    "type": "mqtt out",
    "z": "tab_targets_to_mqtt",
    "name": "Publish Targets",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_local_cfg",
    "x": 730,
    "y": 160,
    "wires": []
  },
  {
    "id": "state_sensors",
    "type": "server-state-changed",
    "z": "tab_sensors_to_mqtt",
    "name": "Sensors → MQTT",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "regex",
    "entityidfilter": "(sensor\\.hydroknoten_ec_wert|sensor\\.hydroknoten_ph_wert|sensor\\.hydroknoten_temp|sensor\\.zeltsensor_lufttemperatur|sensor\\.zeltsensor_luftfeuchte|sensor\\.zeltsensor_vpd|sensor\\.zeltsensor_ppfd|sensor\\.zeltsensor_dli|binary_sensor\\.hydroknoten_tank_leer|binary_sensor\\.hydroknoten_tank[1-6]_wasserstand)",
    "outputinitially": true,
    "state_type": "str",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" },
      { "property": "entity_id", "propertyType": "msg", "value": "", "valueType": "entityId" }
    ],
    "x": 200,
    "y": 100,
    "wires": [["fn_map_sensors"]]
  },
  {
    "id": "fn_map_sensors",
    "type": "function",
    "z": "tab_sensors_to_mqtt",
    "name": "Map Sensor → MQTT",
    "func": "const entity = msg.entity_id;\nconst map = {\n  \"sensor.hydroknoten_ec_wert\": \"dixy/sensors/ec/state\",\n  \"sensor.hydroknoten_ph_wert\": \"dixy/sensors/ph/state\",\n  \"sensor.hydroknoten_temp\": \"dixy/sensors/temp_water/state\",\n  \"sensor.zeltsensor_lufttemperatur\": \"dixy/sensors/temp_air/state\",\n  \"sensor.zeltsensor_luftfeuchte\": \"dixy/sensors/rh/state\",\n  \"sensor.zeltsensor_vpd\": \"dixy/sensors/vpd/state\",\n  \"sensor.zeltsensor_ppfd\": \"dixy/sensors/ppfd/state\",\n  \"sensor.zeltsensor_dli\": \"dixy/sensors/dli/state\",\n  \"binary_sensor.hydroknoten_tank_leer\": \"dixy/sensors/tanks/any_empty\"\n};\nfor (let i = 1; i <= 6; i++) {\n  map[`binary_sensor.hydroknoten_tank${i}_wasserstand`] = `dixy/sensors/tanks/${i}/level`;\n}\nconst topic = map[entity];\nif (!topic) return null;\nlet payload = msg.payload;\nif (typeof payload === 'string' && payload.match(/^\\d+(\\.\\d+)?$/)) {\n  payload = Number(payload);\n}\nif (payload === 'on') payload = 1;\nif (payload === 'off') payload = 0;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 100,
    "wires": [["mqtt_out_sensors"]]
  },
  {
    "id": "mqtt_out_sensors",
    "type": "mqtt out",
    "z": "tab_sensors_to_mqtt",
    "name": "Publish Sensors",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_local_cfg",
    "x": 720,
    "y": 100,
    "wires": []
  },
  {
    "id": "state_ec_sensor",
    "type": "server-state-changed",
    "z": "tab_dosing_logic",
    "name": "EC Ist",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "exact",
    "entityidfilter": "sensor.hydroknoten_ec_wert",
    "outputinitially": true,
    "state_type": "num",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
    ],
    "x": 140,
    "y": 100,
    "wires": [["fn_store_context"]]
  },
  {
    "id": "state_ph_sensor",
    "type": "server-state-changed",
    "z": "tab_dosing_logic",
    "name": "pH Ist",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "exact",
    "entityidfilter": "sensor.hydroknoten_ph_wert",
    "outputinitially": true,
    "state_type": "num",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" }
    ],
    "x": 140,
    "y": 140,
    "wires": [["fn_store_context"]]
  },
  {
    "id": "state_targets_dosing",
    "type": "server-state-changed",
    "z": "tab_dosing_logic",
    "name": "Targets (EC/pH/Toleranz/AutoML)",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "regex",
    "entityidfilter": "(input_number\\.ec_target|input_number\\.ph_target|input_number\\.ec_tolerance|input_number\\.ph_tolerance|input_number\\.pump[1-4]_auto_ml|input_number\\.pump[1-4]_rate_ml_per_sec|input_boolean\\.dosing_enable|binary_sensor\\.hydroknoten_tank_leer)",
    "outputinitially": true,
    "state_type": "str",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" },
      { "property": "entity_id", "propertyType": "msg", "value": "", "valueType": "entityId" }
    ],
    "x": 210,
    "y": 200,
    "wires": [["fn_store_context"]]
  },
  {
    "id": "fn_store_context",
    "type": "function",
    "z": "tab_dosing_logic",
    "name": "Store context",
    "func": "const ctx = flow.get(\"dosing\") || {};\nif (msg.entity_id) {\n  ctx[msg.entity_id] = msg.payload;\n} else {\n  // sensors without entity id here just store by known node id\n  if (msg._event && msg._event.entity_id) ctx[msg._event.entity_id] = msg.payload;\n}\nflow.set(\"dosing\", ctx);\nreturn null;\n",
    "outputs": 0,
    "noerr": 0,
    "x": 470,
    "y": 140,
    "wires": []
  },
  {
    "id": "tick_dosing",
    "type": "inject",
    "z": "tab_dosing_logic",
    "name": "Alle 2min prüfen",
    "props": [],
    "repeat": "120",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "topic": "",
    "x": 150,
    "y": 260,
    "wires": [["fn_dosing_logic"]]
  },
  {
    "id": "fn_dosing_logic",
    "type": "function",
    "z": "tab_dosing_logic",
    "name": "EC/pH Dosing Logic",
    "func": "// Simple hysteresis dosing in ml → cmd\nconst ctx = flow.get(\"dosing\") || {};\nconst tankEmpty = ctx[\"binary_sensor.hydroknoten_tank_leer\"] === 'on' || ctx[\"binary_sensor.hydroknoten_tank_leer\"] === 1;\nif (tankEmpty) return null;\nconst enable = ctx[\"input_boolean.dosing_enable\"] === true || ctx[\"input_boolean.dosing_enable\"] === 'on';\nif (!enable) return null;\n\nconst ec = Number(ctx[\"sensor.hydroknoten_ec_wert\"] || 0);\nconst ph = Number(ctx[\"sensor.hydroknoten_ph_wert\"] || 0);\nconst ecTarget = Number(ctx[\"input_number.ec_target\"] || 0);\nconst phTarget = Number(ctx[\"input_number.ph_target\"] || 0);\nconst ecTol = Number(ctx[\"input_number.ec_tolerance\"] || 0.05);\nconst phTol = Number(ctx[\"input_number.ph_tolerance\"] || 0.05);\n\nconst cmds = [];\n// EC hoch wenn zu niedrig\nif (ec && ecTarget && ec < (ecTarget - ecTol)) {\n  const ml = Number(ctx[\"input_number.pump1_auto_ml\"] || 0);\n  if (ml > 0) cmds.push({topic:\"dixy/dosing/pump1/cmd\", payload:{ml}});\n}\n// pH hoch (pump2) wenn zu niedrig\nif (ph && phTarget && ph < (phTarget - phTol)) {\n  const ml = Number(ctx[\"input_number.pump2_auto_ml\"] || 0);\n  if (ml > 0) cmds.push({topic:\"dixy/dosing/pump2/cmd\", payload:{ml}});\n}\n// pH runter (pump3) wenn zu hoch\nif (ph && phTarget && ph > (phTarget + phTol)) {\n  const ml = Number(ctx[\"input_number.pump3_auto_ml\"] || 0);\n  if (ml > 0) cmds.push({topic:\"dixy/dosing/pump3/cmd\", payload:{ml}});\n}\nif (!cmds.length) return null;\nreturn [cmds.map(c => ({...c}))];\n",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 260,
    "wires": [["split_cmds"]]
  },
  {
    "id": "split_cmds",
    "type": "split",
    "z": "tab_dosing_logic",
    "name": "Fan-out cmds",
    "splt": "\\n",
    "x": 650,
    "y": 260,
    "wires": [["mqtt_out_cmds"]]
  },
  {
    "id": "mqtt_out_cmds",
    "type": "mqtt out",
    "z": "tab_dosing_logic",
    "name": "Publish Pump Cmds",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_local_cfg",
    "x": 870,
    "y": 260,
    "wires": []
  },
  {
    "id": "state_manual_triggers",
    "type": "server-state-changed",
    "z": "tab_dosing_logic",
    "name": "Pumpen manuell",
    "server": "ha_server_cfg",
    "version": 3,
    "exposeToHomeAssistant": false,
    "entityidfiltertype": "regex",
    "entityidfilter": "input_boolean\\.pump[1-4]_manual",
    "outputinitially": false,
    "state_type": "str",
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "outputProperties": [
      { "property": "payload", "propertyType": "msg", "value": "", "valueType": "entityState" },
      { "property": "entity_id", "propertyType": "msg", "value": "", "valueType": "entityId" }
    ],
    "x": 170,
    "y": 340,
    "wires": [["fn_manual_shot"]]
  },
  {
    "id": "fn_manual_shot",
    "type": "function",
    "z": "tab_dosing_logic",
    "name": "Manual shot (ml → cmd)",
    "func": "if (msg.payload !== 'on' && msg.payload !== true) return null;\nconst pumpMatch = msg.entity_id.match(/pump(\\d)_manual/);\nif (!pumpMatch) return null;\nconst pump = pumpMatch[1];\nconst ml = Number((flow.get(\"dosing\") || {})[`input_number.pump${pump}_ml`] || 0);\nif (!ml) return null;\nmsg.topic = `dixy/dosing/pump${pump}/cmd`;\nmsg.payload = { ml };\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 340,
    "wires": [["mqtt_out_cmds"]]
  }
]
